<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body})}">
<body>
<h2>更改密碼</h2>
<form th:action="@{/change_password}" method="post" th:object="${changePasswordDTO}">
    <th:block th:replace="~{fragments/form_error :: formError}"></th:block>
    <p>
        <label>舊密碼</label><br/>
        <input type="password" th:field="*{oldPassword}" required/>
    </p>
    <p>
        <label>新密碼</label><br/>
        <input type="password" th:field="*{newPassword}" required/>
    </p>
    <p>
        <label>確認新密碼</label><br/>
        <input type="password" th:field="*{confirmNewPassword}" required/>
    </p>
    <p>
        <button type="submit">送出</button>
    </p>
</form>
</body>
</html>